.shadow h2 {
  box-sizing: border-box;
  margin: 0 -0.75em 0.5em;
  padding: 0.5em 0.75em;
  font-size: 1em;
  color: white;
}

.shadow p {
  font-size: 0.9em;
  margin: 0.5em 0;
}

.shadow .stats {
  margin: 0 -0.75em;
}

.shadow table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid;
}

.shadow thead tr {
  color: white;
}
.shadow tr {
  padding: 0 0.75em;
}
.shadow th,
.shadow td {
  font-size: 0.9em;
}
.shadow th {
  padding: 0.1em 0.5em;
}
.shadow td {
  padding: 0.3em 0.5em;
  border-right: 1px dotted;
  border-color: inherit;
  font-weight: light;
}
.shadow th:last-child,
.shadow td:last-child {
  border-right: 0;
}

.shadow .location {
  text-align: center;
  border-top: 1px solid;
}

.shadow .arcana {
  font-style: italic;
}

.shadow .skills ul {
  margin: 0.25em 0;
  list-style-type: none;
  padding: 0;
  font-size: 0.9em;
  font-style: italic;
}
.shadow li:before {
  content: "- ";
}

.shadow .arcana,
.shadow .elements,
.shadow .skills {
  margin: 1em 0;
}

.shadow .elements:last-child {
  margin-bottom: 1em;
}
.shadow .skills:last-child {
  margin-bottom: 2em;
}
